<?xml version="0.0" ?>
<robot name="cube">
  <link name="cube">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <geometry>
        <!--<mesh filename="meshes/collision/meshed_pointcloud_better_tissuebox_decimated.obj" scale="1.00"/>-->
        <mesh filename="meshes/visual/meshed_pointcloud_better_tissuebox.obj" scale="1.00"/>
      </geometry>
    </visual>
    </link>
</robot>

